<div class="container my-4">
    <div class="row">
        <div class="col">
            <h4>Add Question and Answer</h4>
        </div>
        <div class="col">
            <div class="upload-container">
                <label class="file-upload">
                    <input type="file" accept=".xlsx" (change)="onFileSelect($event)" hidden />
                    <span class="upload-icon">📄</span>
                    <span class="upload-text">Choose Excel File</span>
                </label>

                <button class="upload-btn" (click)="upload()" [disabled]="!excelFile">
                    ⬆ Upload
                </button>
            </div>

        </div>
    </div>
</div>

<form [formGroup]="questionAnswerForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light">
    <div class="mb-3">
        <label> Question</label>
        <input formControlName="question" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Answer</label>
        <div class="input-group">
            <textarea type="text" formControlName="answer" class="form-control"></textarea>
        </div>
    </div>

    <div class="mb-3">
        <label for="category">Select Category</label>
        <select formControlName="category" id="category" [(ngModel)]="selectedCategoryId" class="form-select" (change)="onCategoryChange()">
            <option value="">Select a topic</option>
            <option *ngFor="let opt of categoryTopic" [value]="opt.id">{{ opt.name }}</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="topic">Select Topic</label>
        <select formControlName="topic" id="topic" class="form-select">
            <option value="">Select a topic</option>
            <option *ngFor="let opt of topicItem" [value]="opt.name">{{ opt.name }}</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="questionType">Select Question Type </label>
        <select formControlName="questionType" id="questionType" class="form-select">
            <option value="">Select a topic</option>
            <option *ngFor="let opt of questionType" [value]="opt.label">{{ opt.value }}</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="image">Upload Image (Optional)</label>
        <input type="file" id="image" (change)="onFileChange($event)" accept="image/*" class="form-control" />
        <div *ngIf="imageSrc" class="mt-2">
            <img [src]="imageSrc" alt="Preview" class="img-thumbnail" style="max-width: 300px;">
            <button type="button" class="btn btn-sm btn-danger ms-2" (click)="removeImage()">Remove</button>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="questionAnswerForm.invalid">Submit</button>
</form>
<app-modal [openModalDetails]="openModalDetails"></app-modal>