<!-- <div *ngIf="loading$ | async">Loading...</div> -->
<!-- <ul>
  @for(item of department$ | async; track $index) {
    <li>{{ item.departmentName }}</li>
  }
</ul> -->

<app-banner [openBannerDetails]="openBannerDetails"></app-banner>
<div class="mt-4">
  <div class="row">
    <div class="col-sm-8">
      <h3>Word List</h3>
    </div>
    <div class="col-sm-2" style="text-align: center;"><button (click)="addWord()" class="btn btn-sm btn-primary">
        Add Word
      </button>
    </div>
    <div class="col-sm-2" style="text-align: right;">
      <button (click)="exportToExcel()" class="btn btn-sm btn-success mb-2">
        Export to Excel
      </button>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Word</th>
        <th>Meaning</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of wordlistData; let i = index">
        <tr *ngIf="i < wordlistData.length - 1 && item?.mobile !== wordlistData[i-1]?.mobile && isShowAllUserWords">
          <td colspan="4" class="userStyle">{{item?.mobile }}</td>
        </tr>
        <tr>
          <td>{{ item.word }}</td>
          <td>{{ item.meaning }}</td>
          <td>
            <button (click)="editWord(item)" class="btn btn-sm btn-primary me-2">Edit</button>
          </td>
          <td>
            <button (click)="deleteWord(item)" class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <app-modal [openModalDetails]="openModalDetails"></app-modal>
</div>