<app-banner [openBannerDetails]="openBannerDetails"></app-banner>
<div class="mt-4">
  <div class="row">
    <div class="col-6 col-sm-4 mb-2">
      <h3>Word List</h3>
    </div>
    <div class="col-6 col-sm-2 mb-2"><button (click)="addWord()" class="btn btn-sm btn-primary">
        Add Word
      </button>
    </div>
    <div class="col-6 col-sm-2 mb-2">
      <button (click)="getAllUserWordList()" class="btn btn-sm btn-primary">Show All Word</button>
    </div>
    <div class="col-6 col-sm-2 mb-2">
      <button (click)="exportToExcel()" class="btn btn-sm btn-success mb-2">
        Export to Excel
      </button>
    </div>
    <div class="col-6 col-md-2 mb-2">
      <input id="fileInput" type="file" (change)="onFileChange($event)" class="custom-file-input" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input [(ngModel)]="searchText"  type="text" class="form-control mb-4" (input)="onSearch()" placeholder="Search word..."/>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Word</th>
        <th>Meaning</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of filteredData; let i = index">
        <tr *ngIf="i < filteredData.length - 1 && item?.mobile !== filteredData[i-1]?.mobile && isShowAllUserWords">
          <td colspan="4" class="userStyle">{{item?.firstName }} {{item?.lastName}} </td>
        </tr>
        <tr *ngIf="!item?.show_for_others || !isShowAllUserWords">
          <td>{{ item.word }}</td>
          <td>{{ item.meaning }}</td>
          <td>
            <button [disabled]="ownerData.mobile !== item.mobile && ownerData.mobile !== '9611675325'" (click)="editWord(item)"
              class="btn btn-sm btn-primary me-2">Edit</button>
          </td>
          <td>
            <button [disabled]="ownerData.mobile !== item.mobile && ownerData.mobile !== '9611675325'" (click)="deleteWord(item)"
              class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <app-modal [openModalDetails]="openModalDetails"></app-modal>
</div>