.navbar {
  position: fixed;         /* Sticks to the top */
  top: 0;
  left: 0;
  width: 100vw;            /* Full screen width */
  height: 60px;            /* Adjust height as needed */
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;           /* Keeps it above other content */
}

.navbar-links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.logout{
    cursor: pointer;
}
.navbar-brand{
  color: white;
}