.navbar {
  position: fixed;
  /* Sticks to the top */
  top: 0;
  left: 0;
  width: 100vw;
  /* Full screen width */
  height: 60px;
  /* Adjust height as needed */
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  /* Keeps it above other content */
}

.logout {
  cursor: pointer;
}

.header_username {
  text-align: end;
}

.header_login {
  text-align: center;
}

@media (max-width: 600px) {
  .header_username {
    text-align: center;
  }
}

.mobile-menu {
  position: fixed;
  top: 60px;
  right: 16px;
  z-index: 1000;
}

.menu-card {
  background: #ffffff;
  width: 220px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.user-name {
  font-weight: 600;
  // text-align: center;
  color: #1f3c88;
}

.page-link {
  margin-top: 10px;
}