<div class="container mt-4">
    <div class="hero">
        <h1>Prepare Smarter for Your Career</h1>
        <p>Java, Angular, JavaScript interview questions & answers</p>

        <input type="text" class="search-box" placeholder="Search interview questions..." />
    </div>

    <!-- Technologies -->
    <div class="section">
        <h2>Popular Technologies</h2>

        <div class="container mt-5">
            <div *ngFor="let tech of technologies">
                <h2 class="category-title">
                    {{ tech.category }}
                </h2>
                <div class="tech-grid">
                    <div class="tech-card" *ngFor="let item of tech.items">
                        <img [src]="item.icon" alt="{{ item.name }}">
                        <h5>{{ item.name }}</h5>
                        <p>{{ item.count }} Questions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popular Questions -->
    <div class="section">
        <h2>Most Asked Questions</h2>

        <div class="question-card" *ngFor="let q of popularQuestions">
            <h5>{{ q.question }}</h5>
            <p>{{ q.shortAnswer }}</p>
            <a href="#">Read More →</a>
        </div>
    </div>

</div>