<!-- user-form.component.html -->

<div>
    <div class="row mt-4 mb-4">
        <div class="col-7">
            <h2>Add a New Word</h2>
        </div>
        <div class="col-2" style="text-align: right">
            <button (click)="showWordList()" class="btn btn-primary">Show Word List</button>
        </div>
        <div class="col-3" style="text-align: right">
            <button (click)="showAllUserWordList()" class="btn btn-primary">Show All User Word List</button>
        </div>
    </div>

    <form [formGroup]="addWordForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light">
        <div class="mb-3">
            <label for="name" class="form-label">Word</label>
            <input id="name" type="text" class="form-control" formControlName="word" />
            <div *ngIf="addWordForm.get('word')?.invalid && addWordForm.get('word')?.touched" class="text-danger">
                Word is required.
            </div>
        </div>

        <div class="mb-3">
            <label for="meaning" class="form-label">Meaning</label>
            <textarea id="meaning" class="form-control" formControlName="meaning"></textarea>
            <div *ngIf="addWordForm.get('meaning')?.invalid && addWordForm.get('meaning')?.touched" class="text-danger">
                Meaning is required.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="addWordForm.invalid">Submit</button>
    </form>

    <div class="mt-4" *ngIf="isOwner">
        <div class="row">
            <div class="col-sm-10">
                <h3>User List</h3>
            </div>
            <div class="col-sm-2" style="text-align: right;">
                <button (click)="exportToExcel()" class="btn btn-sm btn-success mb-2">
                    Export to Excel
                </button>
            </div>
        </div>

        <table class="table table-bordered table-striped" >
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td>{{ user.firstName + ' ' + user.lastName }}</td>
                    <td>{{ user.mobile }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-modal [openModalDetails]="openModalDetails" ></app-modal>